body {
    width: 100vh;
    height: 100vh;
    background-image: url(/img/BGdraft5.png);
    background-size: cover;
    position: fixed;
    
}

.tree {
    position: absolute;
    left: 610px;
    top: 150px;
    height: 800px;
}

.fact-div1 p{
    position: absolute;
    background-color: white;
    left: 570px;
    top: 660px;
    border-radius: 5px;
    font-size: 20px;
}

.squirrel {
    position: absolute;
    left: 964px;
    top: 735px;
    width: 70px;
    z-index: 2;
    opacity: 0;
}

.rock{
    position: absolute;
    bottom: 30px;
    left: 270px;
    
}

.fact-div2 p{
    position: absolute;
    background-color: white;
    left: 600px;
    bottom: 50px;
    border-radius: 5px;
    font-size: 20px;
}
.bunny{
    width: 100px;
    position: absolute;
    bottom: 40px;
    left: 480px;
    opacity: 0;
}